<header class="site-header" role="banner">

  <div class="nav-wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <div class="center-me">
      <ul>
        <li>
            <a href="{{site.baseurl}}/installations">Installations</a>
        </li>
      </ul>
      <ul>
        <li class="artworks-title">
          <a class="artworks-title__dropdown">Artworks</a>
        </li>
          
        <div class="hide-nav">
          <div class="nav-inner">
            <li class="artwork-link">
              <a href="/north-east-south-west">North East South West</a>
            </li>
            <li class="artwork-link">
              <a href="/on-living-stones-and-reaching">On Living Stones and Reaching</a>
            </li>
            <li class="artwork-link">
              <a href="/i-could-not-tell-glass-from-air">I Could Not Tell Glass From Air</a>
            </li>
            <li class="artwork-link">
              <a href="/a-vertigo-like-self">A Vertigo Like Self</a>
            </li>
            <li class="artwork-link">
              <a href="/the-bell-tower">The Bell Tower</a>
            </li>
            <li class="artwork-link">
              <a href="/to-feel-its-touch">To Feel Its Touch</a>
            </li>
            <li class="artwork-link">
              <a href="/the-lightness">The Lightness</a>
            </li>
            <li class="artwork-link">
              <a href="/aomori">Aomori</a>
            </li>
            <li class="artwork-link">
              <a href="/aurelian">Aurelian</a>
            </li>
          </div>
        </div>
      </ul>
    </div>

    <nav>
        <ul>
            <li>
                <a href="{{site.baseurl}}/about">About</a>
            </li>
        </ul>
    </nav>

  </div>
</header>
