<head>
  <!-- ☞ Designed and built by harryfischer.co.uk ☜ -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="google-site-verification"
    content="fct3t7SWLYzKGfoe6GQap9ViSGXGsxvuCQpDe2-2GLY"
  />
  <title>{{ page.title }}</title>
  <!-- <link rel="stylesheet" href="/assets/css/styles.css"> -->
  <!-- <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}"> -->
  <link rel="stylesheet" href="/assets/main.css" />
  <!-- <script src="main.js"></script> -->
  <script
    defer
    data-domain="alexandermourant.com"
    src="https://plausible.io/js/plausible.js"
  ></script>
  <link rel="shortcut icon" type="image/png" href="favicon.png" />
  {% seo %}
  <meta property="og:image" url="./alex-share.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="627" />
</head>
