<head>
  <!-- ☞ Designed and built by harryfischer.co.uk ☜ -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <!-- <link rel="stylesheet" href="/assets/css/styles.css"> -->
  <!-- <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}"> -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css" />
  <!-- <script src="main.js"></script> -->
  <!-- <script
    defer
    data-domain="harryfischer.github.io/alexandermourant"
    src="https://plausible.io/js/plausible.js"
  ></script> -->
  {% seo %}
</head>
