---
layout: default
---

<div class="about scroll-horizontal">
  <div class="inner-content">
    {%- for content in page.Content -%}
    <div class="stick-me">
        <p>{{ content.about-text }}</p>
    </div>
    {%- endfor -%}
    <div class="education-wrapper">
      <div class="">
        {%- for education in page.Education -%}
        <div class="education-block">
            <h1>{{ education.title }}</h1>
            <p>{{ education.year-text | markdownify }}</p>
        </div>
        {%- endfor -%}
      </div>
      <p class="footer-copyright">© All Rights Reserved. All images on this site may not be reproduced, in whole or in part, without the written permission of Alexander Mourant.</p>
    </div>
  </div>
</div>