---
layout: default
---

<div class="home scroll-horizontal">
  <div class="inner-content">
    <div class="split-wrapper">
      <div class="split-wrapper__left open">
        <span class="close">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
          </svg>
        </span>
        <span class="open">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" />
          </svg>
        </span>
        <div class="inner-wrapper">
          <h1>On living stones and reaching</h1>
          <p>Multidisciplinary earthwork made in 2020, rooted in the theory of photography, literature and Land Art. Over a period of
          five gruelling days, I planted 30,000 potatoes, across 52 furrows of earth, on an acre of land, on the island of Jersey.
          I did so with the simple intent of reaching one image, 83 days later, of the field matured, and ready for harvest.
          Acting primarily as a meditation on the nature of environment, labour and ancestry, the work proliferates and deepens
          metaphysically, to question the formation and transformation of images.</p>

          <p>Alongside documentation of this performance and Super 8 films, the centre of the work consists of a self-reflexive piece
          of prose, titled The Wilderness of Words. The total text, which was borne diligently, an entry a day, amounts to 28,000
          words.</p>
        </div>
      </div>
      <div class="split-wrapper__right">
        <div class="inner-wrapper">
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/how-to-plant-an-image">How to plant an image</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/portrait-of-the-artist-repeating-himself">Portrait of the Artist Repeating Himself</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/artist-with-two-hundred-and-eighty-boxes">Artist with Two Hundred and Eighty Boxes</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/teaching-the-camera-how-to-carry-right">Teaching the Camera How to Carry (Right)</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/teaching-the-camera-how-to-carry-left">Teaching the Camera How to Carry (Left)</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/the-wilderness-of-words">The Wilderness of Words</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/the-image-reveals-itself">The Image Reveals Itself</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/five-sketches-running-for-two-hundred-and-ten-seconds">Five Sketches Running for Two Hundred and Ten Seconds</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/artists-sister-among-the-image">Artist’s Sister Amongst the Image</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/to-grasp-the-miraculous-as-twilight">To Grasp the Miraculous as Twilight</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/how-to-harnes-an-image">How to Harvest an Image</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/the-harvesters">The Harvesters</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/a-body-becomes-a-frame">A Body Becomes a Frame</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/palm-of-the-earth">Palm of the Earth</a>
          <a class="olsar-link" data-link="/alexandermourant/on-living-stones-and-reaching/two-tracks-lead-away">Two Tracks Lead Away</a>
        </div>
        <iframe class="fill-me" src="" frameborder="0">
        </iframe>
        <div class="navigation-wrapper">
          <span class="arrow prev">Prev</span>
          <span class="arrow next">Next</span>
        </div>
      </div>
    </div>
    {%- for content in page.Content -%}
    {%- endfor -%}
  </div>
</div>