---
layout: default
---

<div class="scroll-horizontal">
  <div class="inner-content">
    <div class="split-wrapper">
      <div class="split-wrapper__left open">
        <a class="nav-text close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
            />
          </svg>
          <p class="closed-nav-title">Close</p>
        </a>
        <a class="nav-text open">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" />
          </svg>
          <p class="closed-nav-title">On Living Stones and Reaching</p>
        </a>
        {%- for words in page.Words -%} {%- if words.interview-text -%}
        <div class="inner-wrapper">
          {{ words.interview-text | markdownify }}
        </div>
        {%- endif -%} {%- endfor -%}
      </div>
      <div class="split-wrapper__right">
        <iframe class="fill-me" src="" frameborder="0"> </iframe>
        <div class="inner-wrapper">
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/how-to-plant-an-image"
            >How to Plant an Image</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/portrait-of-the-artist-repeating-himself"
            >Portrait of the Artist Repeating Himself</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/artist-with-two-hundred-and-eighty-boxes"
            >Artist with Two Hundred and Eighty Boxes</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/teaching-the-camera-how-to-carry-right"
            >Teaching the Camera How to Carry (Right)</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/teaching-the-camera-how-to-carry-left"
            >Teaching the Camera How to Carry (Left)</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/the-wilderness-of-words"
            >The Wilderness of Words</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/the-image-reveals-itself"
            >The Image Reveals Itself</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/five-sketches-running-for-two-hundred-and-ten-seconds"
            >Five Sketches Running for Two Hundred and Ten Seconds</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/artists-sister-among-the-image"
            >Artist’s Sister Amongst the Image</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/to-grasp-the-miraculous-as-twilight"
            >To Grasp the Miraculous as Twilight</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/how-to-harnes-an-image"
            >How to Harvest an Image</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/the-harvesters"
            >The Harvesters</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/a-body-becomes-a-frame"
            >A Body Becomes a Frame</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/palm-of-the-earth"
            >Palm of the Earth</a
          >
          <a
            class="olsar-link"
            data-link="/on-living-stones-and-reaching/two-tracks-lead-away"
            >Two Tracks Lead Away</a
          >
        </div>

        <div class="navigation-wrapper">
          <a class="arrow prev">
            <svg
              width="148"
              height="268"
              viewBox="0 0 148 268"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M127.913 268L4.15623 144.06C-1.3854 138.503 -1.3854 129.497 4.15623 123.94L127.913 0L148 20.1209L34.288 134.001L148 247.881L127.913 268Z"
                fill="black"
              />
            </svg>
            Prev
          </a>
          <a href="" class="index">Index</a>
          <a class="arrow next"
            >Next
            <svg
              width="149"
              height="268"
              viewBox="0 0 149 268"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.17 267.74L143.87 144.04C149.409 138.493 149.409 129.505 143.87 123.958L20.17 0.257996L0.0920105 20.34L113.752 134L0.0920105 247.66L20.17 267.74Z"
                fill="black"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    {%- for content in page.Content -%} {%- endfor -%}
  </div>
</div>
