---
layout: default
---

<div class="home">
  <div class="inner-content flex">
    {%- for content in page.Content -%}
    <a class="link-container" href="{{ site.baseurl }}{{ content.page-url }}">
      <div class="link-wrapper {{ content.image-position }}">
        <div class="image-wrapper {{content.caption-margin-right}}">
          <img class="{{ content.image-size }}" src="{{ site.baseurl }}{{ content.image }}" alt="">
        </div>
        <div class="caption-wrapper">
          <p class="caption">{{content.caption-title}} <span>{{ content.caption-year }}</span></p>
        </div>
      </div>
    </a>
    {%- endfor -%}
  </div>
</div>
