---
layout: default-2
---

<div class="home scroll-horizontal">
  <div class="inner-content flex">
    <!-- <div class="project-title link-container">
      <div class="title-inner">
        <h1>Aomori</h1>
        <p>Words</p>
      </div>
    </div> -->
    {%- for content in page.Content -%}
    <div class="link-container {{ content.image-margin-right }} {{ content.image-position }} olsar olsar-four {{ content.image-position }}">
      <div class="link-wrapper">
        {%- if content.image -%}
        <div class="image-wrapper">
          <img class="{{ content.image-size }}" src="{{ site.baseurl }}{{ content.image }}" alt="">
        </div>
        {%- endif -%}
        {%- if content.caption-text -%}
        <div class="caption-wrapper olsar one">
            {{ content.caption-text | markdownify }}
        </div>
        {%- endif -%}
      </div>
    </div>
    {%- endfor -%}
  </div>
  <!-- <div>
    {% for words in page.Words %}
    <p>{{ words.interview-text | markdownify }}</p>
    {% endfor %}
  </div> -->
</div>