---
layout: default-2
---

<div class="home scroll-horizontal">
  <div class="inner-content flex">
    {%- for content in page.Content -%}
    <div class="olsar olsar-two {{ content.image-position }}">
      {%- if content.image -%}
      <div class="image-wrapper">
        <img class="{{ content.image-size }}" src="{{ site.baseurl }}{{ content.image }}" alt="">
      </div>
      {%- endif -%}
      {%- if content.video -%}
      <iframe class="{{ content.image-size }} olsar-two__video" src="{{ content.video }}" frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture">
      </iframe>
      <script src="https://player.vimeo.com/api/player.js"></script>
      {%- endif -%}
      <div class="caption-wrapper">
        {{ content.caption-text | markdownify }}
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>