---
layout: default
---

<div class="home scroll-horizontal">
  <div class="inner-content flex">
    {%- for content in page.Content -%}
    <div class="olsar olsar-five {{ content.text-margin-right }}">
      <div class="entry-wrapper">
        <h1 class="entry-wrapper__heading">{{ content.entry-heading-text | markdownify }}</h1>
        <div class="entry-wrapper__body">{{ content.entry-body-text | markdownify }}</div>
        {% if content.entry-image %}
        <img class="entry-wrapper__image" src="{{ site.baseurl }}{{ content.entry-image }}"> 
        {% endif %}
        {% if content.entry-two-image %}
        <img class="entry-wrapper__image" src="{{ site.baseurl }}{{ content.entry-two-image }}"> 
        {% endif %}
        <p class="entry-wrapper__meta">{{ content.entry-meta-text | markdownify }}</p>
      </div>
    </div>
    {%- endfor -%}
  </div>
  <!-- <div>
    {% for words in page.Words %}
    <p>{{ words.interview-text | markdownify }}</p>
    {% endfor %}
  </div> -->
</div>