---
layout: default
---

<!-- 
<article class="post">

  <header class="post-header">
    
  </header>

  <div class="post-content">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {{ content }}
  </div>

</article> -->

<div class="home scroll-horizontal">
  <div class="inner-content flex">
    {%- for content in page.Content -%}
    <a class="link-container {{content.image-margin-right}}" href="{{ site.baseurl }}{{ content.page-url }}">
      <div class="link-wrapper {{ content.image-position }}">
        <div class="image-wrapper">
          <img class="{{ content.image-size }}" src="{{ site.baseurl }}{{ content.image }}" alt="">
        </div>
        <div class="caption-wrapper">
          <p class="caption">{{content.caption-title}} <span>{{ content.caption-year }}</span></p>
        </div>
      </div>
    </a>
    {%- endfor -%}
  </div>
</div>
