---
layout: default
---

<div class="home project scroll-horizontal">
  <div class="inner-content">
    <div class="split-wrapper">
      {%- for words in page.Words -%} {%- if words.interview-text -%}
      <div class="split-wrapper__left open">
        <a class="nav-text close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
            />
          </svg>
          <p class="closed-nav-title">Close</p>
        </a>
        <a class="nav-text open">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" />
          </svg>
          <p class="closed-nav-title">{{ page.title | escape }}</p>
          <!-- <p class="closed-nav-title">On living stones and reaching</p> -->
        </a>
        <div class="inner-wrapper">
          <div class="project-title link-container">
            <div class="title-inner">
              {{ words.interview-text | markdownify }}
            </div>
          </div>
        </div>
      </div>
      {%- endif -%} {%- endfor -%}
      <div class="split-wrapper__right">
        {%- for content in page.Content -%}
        <div
          class="link-container {{ content.image-margin-right }} {{ content.image-position }}"
        >
          <div class="link-wrapper">
            <div class="image-wrapper">
              <img
                class="{{ content.image-size }}"
                src="{{ site.baseurl }}{{ content.image }}"
                alt=""
                />
                <!-- data-src="{{ site.baseurl }}{{ content.image }} -->
            </div>
            <div class="caption-wrapper">
              {{ content.caption-text | markdownify }}
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
    {%- for content in page.Content -%} {%- endfor -%}
  </div>
</div>
